@import "tailwindcss";

:root {
    --font-varela: "Varela Round", sans-serif;
}

body {
    font-family: var(--font-varela);
}

.scroll-bar::-webkit-scrollbar {
    display: none;
}
.scroll-bar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}